@import "../../index.module.scss";

main {
  display: flex;
  width: 90%;
  margin: auto;
  aside {
    width: 15%;
    margin-right: 20px;
    font-style: italic;
    border: 1px solid $lines;
    border-top: 1px solid transparent;
    .filter {
      font-size: 22px;
      padding: 20px 32px;
      border-bottom: 1px solid $lines;
      img {
        cursor: pointer;
      }
    }
    div {
      display: flex;
      justify-content: space-between;
    }
    .categories {
      padding: 40px 32px;
      li {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        span {
          font-size: 16px;
          font-weight: 100;
        }
        &:not(:first-child) {
          margin-top: 18px;
        }
      }
    }
  }
  .products {
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}
