@import "../../index.module.scss";

main {
  display: flex;
  width: 90%;
  margin: auto;
  aside {
    width: 20%;
    color: $text-silver;
    height: min-content;
    margin-right: 20px;
    font-style: italic;
    border: 1px solid $lines;
    border-top: 1px solid transparent;
    .filter {
      font-size: 22px;
      padding: 20px 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $lines;
      img {
        margin-left: 100px;
        cursor: pointer;
      }
    }
    div {
      display: flex;
      justify-content: space-between;
    }
    .categories {
      padding: 0;
      color: $text-silver;
    }
  }
  .products {
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 100px;
  }
}
