@import "../../index.module.scss";

body {
  font-family: Roboto;
  line-height: normal;
}
button {
    border: none;
}
.signIn {
  width: 40%;
  margin: auto;
  h1 {
    margin-bottom: 50px;
    color: #333;
    font-size: 34px;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 0.68px;
  }
  .inputs {
    span:nth-last-child(-n + 2) & :not(:last-child) {
      padding-left: 10px;
      color: #3c4242;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.36px;
    }
    input {
        border-radius: 8px;
border: 1px solid #3C4242;
      margin-top: 5px;
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 16px 20px;
      &:nth-last-child(-n + 2) {
        margin-top: 15px;
        margin-bottom: 20px;
      }
    }
    button {
      color: #fff;
      text-align: center;
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: 8px;
      background: #8a33fd;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }
  }
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    margin-right: 15px;
  }
}
.support {
  display: flex;
  justify-content: end;
  margin-bottom: 25px;
  color: #0f8be4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
}

.support_2 {
    display: flex;
    margin-bottom: 55px;
    color: #0f8be4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
  }