@import "../../index.module.scss";

.profile {
  width: 100%;
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  h2{
    margin-bottom: 50px;
  }
  .inputsBlock {
    width: 80%;
    .input {
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $lines;
      margin-bottom: 15px;
      div {
        display: flex;
        flex-direction: column;
        span {
          color: $text-silver;
          font-style: italic;
        }
        input {
          font-size: 18px;
          margin-top: 10px;
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
      button {
        align-self: flex-end;
        cursor: pointer;
        background-color: transparent;
      }
    }
  }
}
