@import "../../index.module.scss";

.favoritEmpty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 15%;
    margin: 5px;
  }
  span {
    font-size: 30px;
    font-style: italic;
    margin: 5px;
  }
  button {
    width: 240px;
    height: 45px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #8a33fd;
    color: white;
    font-size: 18px;
    font-style: italic;
  }
}
