@import "../../index.module.scss";

.profile {
  display: flex;
  aside {
    margin-left: 3%;
    margin-right: 10px;
    width: 300px;
    white-space: nowrap;
    h2 {
      border-left: 5px solid $basic;
      font-style: italic;
      font-weight: normal;
      margin-bottom: 14px;
      padding-left: 20px;
    }
    span {
      color: $text-silver;
      font-weight: normal;
    }
  }
  main{
    margin: 0px;
    min-height: calc(100vh - $header-size);
  }
}
