@import "../../index.module.scss";

.header {
  border-bottom: 1px solid $third;
  header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      width: 30%;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      li {
        a {
          color: #000;
          text-decoration: none;
        }
      }
      .active {
        a {
          color: $basic;
        }
      }
    }
    .input {
      position: relative;
      height: min-content;
      padding: 12px 20px;
      background-color: $secondary;
      border-radius: 8px;
      input {
        margin-left: 30px;
        color: #000;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        outline: none;
        caret-color: $basic;
      }
      svg {
        position: absolute;
        top: 12px;
        left: 20px;
      }
    }
    .buttons {
      display: flex;
      gap: 0 12px;
      button {
        padding: 12px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
        transition: 0.6s;
        background-color: $secondary;
        &:hover {
          background-color: $third;
          svg {
            path {
              transition: 0.6s;
              stroke: $secondary;
            }
          }
        }
      }
    }
  }
}
